# Python
__pycache__/
*.pyc
.venv/
venv/
ldraw_parts/
images/


# Outputs and caches
output/
cache/
images/
*.xlsx
*.svg
*.png
*-run_meta.json
*.md.bak

# Tools
.mypy_cache/
.pytest_cache/
.ruff_cache/

.DS_Store
.aider.tags.cache.v4/cache.db
.aider.input.history
.aider.chat.history.md
*.html
.env
sets.txt
